@font-face {
  font-family: "Branda-yolq";
  src: url(../assets/fonts/Branda-yolq.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Military_RPG";
  src: url(../assets/fonts/Military_RPG.ttf);
  font-style: normal;
  font-weight: normal;
}
